/*Fonts imported from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Open+Sans:wght@600&family=Oswald:wght@700&display=swap');

/* Removing browser defaults. Code taken form Love Running project*/

* {
    border: none;
    margin: 0;
    padding: 0;
}

/*Generic style rules to avoid repetition and remove <br> tags from HTML code*/

a:hover {
    cursor: pointer;
}

.line-break-below {
    padding-bottom: 14px;
}

.line-break-top-bottom {
    padding: 14px 0;
}

.line-break-above {
    padding-top: 14px;
}

.primary-bg-color{
    background-color: #06304b;
}

.center-text {
    text-align: center;
}

.text-left {
    text-align: left;
}

/*set defaults for the page body and header working from a default of 320px width to scale up from*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#fff;
    background-color: #06304b;
}

/*header style rules*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title-anchor {
    text-decoration: none;
}

.title {
    font-family:'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 130%;
    padding: 0 5px;
    
}

.header-image-left {
    height: 70px;
    width: 70px;
    display: none;
}

.header-image-right {
    height: 70px;
    width: 70px;
}

/*Navigation bar style rules*/

.nav-wrap {
    /*colour gradient taken from http://www.brandgradients.com/gold-gradient/*/
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
}

.nav-menu {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 70%; 
    list-style-type: none;  
    height: 35px;
    align-items: center;
    text-transform: uppercase;
}

.nav-button {
    padding: 9px 8px 7.8px;
    text-decoration: none;
    color: #000;
    border: 2px solid transparent;
}

/*shows active page and style's menu button when interacted with*/

.active, .nav-button:hover {
    background-color: #06304b;
    color: #fff;
    border: 2px solid #fff;
}

/*Container for all hero images*/

.hero-image-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-top: 0.5rem solid #06304b;
    border-bottom: 0.5rem solid #06304b;
}

/*Adds hero images to each page*/

/*image taken from https://www.kadampafestivalus.org/geshe-kelsang-gyatso/geshe-la-at-kmc-new-york/*/
.index-hero-image {
    background: url('../images/geshe-la-outside-temple.jpg') no-repeat center center;
}

/*Image taken from https://www.meditateinperth.org/about-buddhism/*/
.teachings-hero-image {
    background: url('../images/geshe-kelsang-gyatso-hero-image.jpg') no-repeat center center;
}

/*Image taken from https://meditateinleicester.org/buddhism-3/*/
.contact-hero-image {
    background: url('../images/contact-banner.jpg') no-repeat center center;
}

/*image taken from https://www.wiseattention.org/blog/2012/02/21/nkt-succession-and-the-rules/*/
.community-hero-image {
    background: url('../images/community-hero-image.jpg') no-repeat center center;
    background-position-y: 100%;
}

/*sets the rules for all hero images and links the keyframe rules to them*/

.hero-animation {
    height: 65%;
    width: 100%;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
        
}

/* creates the level of zoom for hero image */

@keyframes hero-image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*Add a text overly to the hero images, adapted code from love running project*/

.quote-background {
    display: grid;
    font-size: 55%;
    letter-spacing: 1px;
    height: 35%;
    font-family: 'DM Sans', sans-serif;
    color: #000;
     /*colour gradient taken from http://www.brandgradients.com/gold-gradient/*/
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728,#fbf5b7);
    justify-content: center;
    align-content: space-evenly;
    padding: 5px 10px;
    }

.quote {
    text-align: left;
    text-transform: capitalize;
}

.quote-author {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*styles for any text on the main content sections of the page for text*/

.main-heading {
    font-family: 'DM Sans', sans-serif;
    text-transform: capitalize;
    text-decoration: underline;
    padding-left:7%;
    padding-right: 7%;
}

.sub-heading {
    font-family: 'DM Sans', sans-serif;
    text-transform: capitalize;
}

.content {
    background-color: #cfebfd;
    color: #000;
    padding: 20px 0;
}

.content p {
    padding: 1rem 7% 2rem;
    text-align: justify;
    max-width: 1400px;
    margin: 0 auto;
}

/*used ID to center last p tag on teachings page to override the .content p class*/

#center-p-on-teach-page {
    text-align: center;
}

#center-p-on-about-page {
    text-align: center;
}

/*rules for anchor tag which are children ".content"*/

.content a {
    color:#000;
}

.content a:hover {
    color: #b38728;
}

/*content rules on form feedback-page*/

#form-feedback-content {
    background-color: #cfebfd;
    color: #000;
    padding: 20px 0;
}

#form-feedback-content p {
    padding: 1rem 5% 2rem;
    text-align: center;  
}

#form-feedback-content a {
    color: #000;
}

/*figure, and their children on teachings page*/
/* images from https://www.pngwing.com*/

#buddha-shakyamuni-fig, #guru-sumanti-fig, #buddha-maitreya-fig {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

#buddha-shakyamuni-img, #guru-sumanti-img, #buddha-maitreya-img  {
    height: 270px;
    width: 300px;
    margin: 0 auto;
}

.teaching-pg-figcap {
    font-size: 80%;
    font-style: italic;
    margin-top: 3px;
    text-transform: capitalize;
}

.teaching-pg-figcap {
    font-size: 80%;
    font-style: italic;
    margin-top: 3px;
    text-transform: capitalize;
}

/*figure elements and their children on community page*/

#temple-fig {
    height: 10%;
    width: 86%;
    margin: auto;
    border-radius: 30px;
    max-width: 686px;
    max-height: 447px;
}

#temple-img {
    height: 80%;
    width: 90%;
    margin-top: 15px;
    border-radius: 15px;
    max-width: 618px;
    max-height: 397px;
}

#int-fest-fig, #work-hol-fig {
    height: 20%;
    width: 86%;
    margin: auto;
    border-radius: 30px;
}

#int-fest-img, #work-hol-img {
    height: 85%;
    width: 90%;
    margin-top: 23px;
    border-radius: 15px;
}

#fig-caption-temple, #fig-caption-fest, #fig-caption-work {
    font-size: 65%;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

/*images relating to external media/downloads*/

#modern-buddhism-vid {
    width: 85%;
    max-width: 560px;
    height: 19.688rem;
    border-radius: 30px;
    padding: 10px;
}

#tyl-download {
    width:300px;
    height: 250px;
    margin-bottom: 2rem;
}

/*Styling for the form on contact.html"*/

#contact-form {
    display: grid;
    justify-content: center;
    color: #fff;
    width: 85%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 30px 12px;
    font-weight: bold;
    max-width: 500px;
    border: 4px solid #bf953f;
}

#name, #email, #message {
    line-height: 30px;
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

#p-in-form {
    padding: 1.5rem 0;
    font-size: smaller;
    text-align: center;
}

.mailing-list-options {
    font-size: smaller;
}

/*Form submit button and hover styling*/

#submit-btn {
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728,#fbf5b7);
    border-radius: 28px;
    font-weight: 300;
    font-family: 'Open sans', sans-serif;
    font-size: larger;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border: 1px solid #b38728;
}

#submit-btn:hover {
    background: linear-gradient(to right, #fcf6ba,#b38728,#fbf5b7,#bf953f);
}

/*Styling for the page footers*/

footer {
    color: #fff;
}

footer h3 {
    font-size: 1.67em;
    padding: 1rem;
}

footer h4 {
    font-size: 0.7rem;
    padding: 1rem;
}

/*style for the social media links*/

.social-media li {
    display: inline;
    list-style-type: none;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    color: #fff;
    padding: 5px;
}

/* Media queries */

/*for screen sizes over 360px and under 540px wide*/

@media (min-width: 360px) {
    
    /*style changes to the header*/
    
    header{
        justify-content: space-around;
    }

    /*Style changes to nav bar*/

    .nav-menu {
        font-size: 75%;
    }

    .nav-button {
        padding: 7px 11px;
    }

    /*Style changes to the contact form*/

    #contact-form {
        color: #fff;
        width: 85%;
        border: 5px solid #bf953f;
        font-size: 120%;
    }
    
    #name, #email, #message {
        line-height: 40px;
    }

    #p-in-form {
        font-size: 100%;
    }
}

/*for screen sizes over 540px and under 767px wide*/

@media (min-width: 540px) {

    /*Style changes to the header*/ 
   
    header {
        justify-content: space-evenly;
    }

    .header-image-left {
        display: inline;
    }

    .title{
        letter-spacing: 0.25rem;
        font-size: 165%;
    }

    /*Style changes to Nav bar*/

    .nav-menu {
        font-size: 100%;
    }

    .nav-button {
        padding: 5px 15px;
    }

    /*Style changes to the hero-image container on each page*/

    .hero-image-container {
        height: 450px; 
    }

    .index-hero-image {
        height: 95%;
    }

    .teachings-hero-image {
        height: 95%;
    }

    .community-hero-image {
        height: 95%;
    }

    .contact-hero-image {
        height: 95%;
    }

    /*style changes to the quote overlay on the hero image*/
    
    .quote-background {
        height: 25%;
        font-size: 70%;
        position: absolute;
        background: linear-gradient(to bottom, rgba(191, 149, 63, 0.7), rgba(252, 246, 186, 0.95), rgba(179, 135, 40, 0.95),rgba(251, 245, 183, 0.7) );
        bottom: 10px;
        right: 0;
        padding: 0 10px;
    }

    .content {
        padding-bottom: 25px;
    }

    .content p {
        padding: 1rem 5% 25px;
        text-align: left;

    }

    /*Style change to figures and the contained images on the community page*/

    #temple-fig {
        width: 90%;
    }

    #geshe-brazil, #at-work {
        height: 266px;
        width: 400px;
        padding: 35px;
    }

    /*Style changes to the contact form*/

    #contact-form {
        border: 6px solid #bf953f;
        padding: 30px 0;
        max-width: 500px;
        width: 100%;
    }

    #name, #email, #message {
       line-height: 40px; 
    }
}

/*for screen sizes over 768px and under 979px wide*/

@media (min-width: 768px) {
    
    /*Style changes to the hear*/

    .header-image-left {
        height: 90px;
        width: 90px;
    }

    .title {
        font-size: 250%;
    }

    .header-image-right  {
        height: 90px;
        width: 90px;
    }

    /*style changes to the nav bar*/

    .nav-menu {
        font-size: 105%;
    }

    .nav-button {
        padding: 4.5px 40px;
    }

    /*style changes to the hero image container*/

    .hero-image-container {
        height: 500px;  
    }

    .index-hero-image {
        height: 100%;
    }

    .teachings-hero-image {
        height: 100%;
    }

    .community-hero-image {
        height: 100%;
    }

    .contact-hero-image {
        height: 100%;
    }

    /*Style changes to the main content of the pages*/

    .content > p {
        padding: 1rem 13% 25px;
    }

    #ways-to-connect {
        display: block;
        justify-content: center;
        flex-wrap: wrap;
    }

    #sect-cont-work-fest-articles {
        display: flex;
        align-items: stretch
    }

    /*Style changes to figure elements and their children on community page*/

    #working-hol, #int-festival {
        width: 45%;
        margin: 0 auto;
        border-radius: 30px;
        background-color: #fff;
        padding-top: 20px;
    }

    #temple-fig {
        width: 74%;
    }

    #int-festival p, #working-hol p {
        padding: 1rem 7% 25px;
    }

    #int-fest-fig, #work-hol-fig {
        margin: auto;
    }

    #int-fest-img, #work-hol-img {
        border-radius: 15px;
    }

    #fig-caption-community {
        font-size: 65%;
        color: #fff;
        font-weight: bold;
    }
}

/*for screen sizes over 979px and under 1200px wide*/

@media (min-width: 980px) {
    
    /*style change to the header*/

    .header-image-left {
        height: 100px;
        width: 100px;
    }

    .title {
        font-size: 300%;
    }

    .header-image-right  {
        height: 100px;
        width: 100px;
    }

    /*Style changes to the nav bar*/

    .nav-menu {
        font-size: 135%;
    }

    .nav-button {
        padding: 1.5px 60px;
    }

    /*style changes to the main content on the pages*/

    .content > p {
        padding: 1rem 15% 25px;
    }

    #temple-fig {
        width: 70%;
    }


    #fig-caption-fest, #fig-caption-work {
        font-size: 78%;
    }
}

/*for screen sizes over 1200px wide*/

@media (min-width: 1200px) {
    
    /*Style change to hero-container size*/

    .hero-image-container {
        height: 600px;
    }

    /*style change to quote overlay*/

    .quote-background {
        position: absolute;
        right: 0;
    }

    /*style change to the nav bar*/

    .nav-menu {
        font-size: 150%;
    }

    .nav-button {
        padding: 0px 80px;
    }
}

@media (min-width: 1400px) {

    /*style change to the nac bar*/

    .nav-menu {
        font-size: 150%;
    }
}

