/*Fonts imported from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap');

/* Removing browser defaults. Code taken form Love Running project*/

* {
    border: none;
    margin: 0;
    padding: 0;
}

/*set defaults for the page body and header working from a default of 320px width to scale up from*/

body {
    font-family: 'Francois One', sans-serif;
    font-weight: 300;
    color:#fff;
    background-color: #06304b;
}

header {
    background-color: #06304b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: 3.125rem;
}

/*heading style*/
#title {
    font-family: Oswald, cursive;
    text-transform: uppercase;
    color: #fff;
    font-size: 90%;
    padding-left: 10px;
}

#header-image-left {
    transform: scale(0.5);
    padding-top: 5px;
    height: 100px;
    display: none;
}

#header-image-right {
    transform: scale(0.5);
    padding-top: 5px;
    height: 100px;
}

/*Navigation bar*/

#nav-wrap {
    /*colour gradient taken from http://www.brandgradients.com/gold-gradient/*/
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
}

#nav-menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 80%;
    font-weight: bold; 
    list-style-type: none;
    padding: 6px;
    
}

#nav-menu a {
    text-decoration: none;
    color: black;
}

/*shows active page and underlines when interacted with*/
.active {
    border-bottom: 2px solid #fff;
}

.nav-button:hover {
    border-bottom: 2px solid #fff;
}

/*Container for all hero images - parts of all hero image related code taken from love running project*/
.hero-image-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*Add hero images to each page*/
.hero-image {
    height: 65%;
    width: 100%;
    background: url('../images/temple-image.jpg') no-repeat center center;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


/*Add a text overly to the hero images, adapted code from love running project*/
.quote-overlay {
    font-size: 70%;
    text-transform: capitalize;
    letter-spacing: 4px;
    padding: 25px 10px;
    font-family: Oswald, sans-serif;
    color: #000;
     /*colour gradient taken from http://www.brandgradients.com/gold-gradient/*/
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
}

.quote-overlay h2 {
    text-align: left;
}

.quote-overlay h3 {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#modern-buddism-vid {
    width: 85%;
    max-width: 560px;
    height: 19.688rem;
}

#tyl-download {
    width:85%;
    max-width: 300px;
}

#index-content {
    width: 95%;
    background-color: #0094b6;
    margin: 1% 2.5%;
    text-align: center;
    color: #fff
}

#index-content > h2 {
    padding-top: 10px;
    padding-bottom: 5px;
}

#index-content > p {
    padding: 10px 10px 10px;
    text-align: justify;
}


footer {
    color: #fff;
    text-align: center;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
    list-style-type: none;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    color: #fff;
    padding: 5px;
}

/* Media queries */
/*for screen sizes over 576px wide*/

@media (min-width: 576px) {

    .header-image {
        transform: scale(1);
    }

    #title{
        letter-spacing: 0.25rem;
        font-size: 65%;
    }

    #header-image-left {
        transform: scale(0.5);
        padding-top: 5px;
        justify-content: space-around;
        height: 100px;
        display: inline;
    }

    .hero-image-container {
        height: 375px;
        margin-bottom: 2.5%;  
    }

    .hero-image {
        height: 95%;
        width: 100%;
    }
    
    .quote-overlay {
        position: absolute;
        width: fit-content;
        background: linear-gradient(to right, rgba(191, 149, 63, 0.6), rgba(252, 246, 186, 0.65), rgba(179, 135, 40, 0.75),rgba(251, 245, 183, 0.8) );
        bottom: 10px;
        right: 0;
        padding: 10px 10px;
    }

    #index-content {
        margin-top: 5px;
    }
}

/*for screen sizes over 1200px wide*/

@media (min-width: 1200px) {

    .hero-image-container {
        height: 375px;  
    }

    .hero-image {
        height: 100%;
    }

    @keyframes hero-image-zoom {
        from{
            transform: scale(0.9);
        }
        to{
            transform: scale(1.0);
        }
    }
    
    .quote-overlay {
        font-size: 70%;   
        position: absolute;
        right: 0;
        width: fit-content;
    }
}